@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --color-primary: #000000;
    --color-text-base: hsll(0, 0%, 100%);
    --color-bg-primary: hsl(0, 0%, 100%);
    --color-light-grey:hsl(217.89, 10.61%, 85%);
    --color-grey:#b2b2b2;
    --color-grey-gradient-right: linear-gradient(to right, hsl(217.89, 10.61%, 85%), hsl(217.89, 10.61%, 95%));
  }
}

html {
  @apply font-sans
}